.container {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.7);
  min-height: 80vh;
}

main {
  background: blue;
  top: 0;
  left: 0;
  z-index: -1;
  min-height: 100%;
  padding: 5vh 0 10vh;
}